**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/libraries
**/.idea/uiDesigner.xml

/Testing

/.persistence
/.tmp

/build/*
!/build/assets/
!/build/assets/*

/bin/*
!/bin/assets/
!/bin/assets/*

/lib

/Makefile
/CMakeFiles
/CMakeCache.txt
/cmake-build-debug

*.cbp
*.DS_Store

/.env
/CTestTestfile.cmake
/cmake_install.cmake